<h1 mat-dialog-title>{{data.caption}}</h1>
<div mat-dialog-content>
  <img [src]="data.image" height="400px" />
</div>
<button type="submit" class="likebutton" style="border: 0; background: transparent" (click)="likePic()">
  <img src="/../../assets/thumbs-up.png" width="30" height="30" alt="submit" />
</button>
Likes: {{data.likes}}
<mat-list *ngIf="getCommentsListLoaded()">
   <a mat-list-item *ngFor="let vals of commentsList"> {{ vals.username }}: {{vals.comment}} </a>
</mat-list>
<br>
<input matInput [(ngModel)]="comment" placeholder="Comment">
<button mat-button (click)="sendComment(comment, data.filename)">Send Comment</button>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
