<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1>Upload Images</h1>
<mat-card>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
    <mat-card-content>
      <input formControlName="document" type="file" ng2FileSelect accept=".png, .jpg, .jpeg, .gif" [uploader]="uploader" multiple />
      <p>
        <div class="drop-zone">
          <div ng2FileDrop [uploader]="uploader" class="drop-zone">Or drag and drop files to upload</div>
        </div>
        <table>
          <thead>
            <tr>
              <th width="80%">
                File Name
              </th>
              <th width="20%">
                Remove
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue">
              <th width="50%">
                {{ item.file.name}}({{item.file.size/1000000}} MB)
              </th>
              <th class="text-center" width="10%">
                <mat-icon (click)="item.remove()">delete</mat-icon>
              </th>
            </tr>
          </tbody>
        </table>
        <br>
        <button mat-raised-button color="accent" type="submit">Upload Images</button>
    </mat-card-content>
  </form>
</mat-card>
