<h1>Media</h1>
<mat-grid-list *ngIf="getRetrievalFinished()" cols="3" rowHeight="400px">
  <mat-grid-tile *ngFor="let tile of tiles; let i = index"
    [attr.data-index]="i"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
    <img [src]="images[i]" height="400px" />
    <mat-grid-tile-header>
      {{tile.caption}}
    </mat-grid-tile-header>
    <mat-grid-tile-footer>
      <button mat-raised-button color="accent" type="submit" (click)="editAttributes(tile.id)">Edit Attributes</button>
      <br>
      Likes: {{tile.likes}}
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
